//regole generali, variabili, mixin ecc...
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font-primary-color: #339AF0; //colore primario
$font-secondary-color: #A8A8A8; //colore secondario

$card-width: 300px; //grandezza delle card